 <div class="alert alert-warning">
    <p>ticket counts will reset every year</p>
</div>
<div class="container">
    <h2>Ticket Totals</h2>
    <p>This table represents tickets created in the current year</p>
   
    <table class="table">
        <thead>
        <tr>
            <th>Month</th>
            <th>Ticket Count</th>
            <th>Year</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>January</td>
            <td>@ViewData["JanuaryTicketCount"]</td>
            <td>@ViewData["CurrentYear"]</td>
        </tr>
        <tr>
            <td>February</td>
            <td>@ViewData["FebruaryTicketCount"]</td>
            <td>@ViewData["CurrentYear"]</td>
        </tr>
        <tr>
            <td>March</td>
            <td>@ViewData["MarchTicketCount"]</td>
            <td>@ViewData["CurrentYear"]</td>
        </tr>
        <tr>
            <td>April</td>
            <td>@ViewData["AprilTicketCount"]</td>
            <td>@ViewData["CurrentYear"]</td>
        </tr>
        <tr>
            <td>May</td>
            <td>@ViewData["MayTicketCount"]</td>
            <td>@ViewData["CurrentYear"]</td>
        </tr>
        <tr>
            <td>June</td>
            <td>@ViewData["JuneTicketCount"]</td>
            <td>@ViewData["CurrentYear"]</td>
        </tr>
        <tr>
            <td>July</td>
            <td>@ViewData["JulyTicketCount"]</td>
            <td>@ViewData["CurrentYear"]</td>
        </tr>
        <tr>
            <td>August</td>
            <td>@ViewData["AugustTicketCount"]</td>
            <td>@ViewData["CurrentYear"]</td>
        </tr>
        <tr>
            <td>September</td>
            <td>@ViewData["SeptemberTicketCount"]</td>
            <td>@ViewData["CurrentYear"]</td>
        </tr>
        <tr>
            <td>October</td>
            <td>@ViewData["OctoberTicketCount"]</td>
            <td>@ViewData["CurrentYear"]</td>
        </tr>
        <tr>
            <td>November</td>
            <td>@ViewData["NovemberTicketCount"]</td>
            <td>@ViewData["CurrentYear"]</td>
        </tr>
        <tr>
            <td>December</td>
            <td>@ViewData["DecemberTicketCount"]</td>
            <td>@ViewData["CurrentYear"]</td>
        </tr>
        </tbody>
    </table>
</div>
